<form action="" method="post">
  <div>
    <label for="password">Enter the secret admin password</label>
    <input type="password" id="password" name="password" />
    <button>Submit</button>
  </div>
</form>
