<% const redacted="[[ Redacted ]]" %>
<h1>posts</h1>
<% posts.forEach(post => { %>
<h2>
  Posted by
  <%= !currentUser || currentUser.status === "normal"?redacted: post.author.fullName; %>
  on
  <%= !currentUser || currentUser.status === "normal"?redacted: post.formattedDate; %>
</h2>
<p class="post"><%= post.postText %></p>
<% }) %>
